.survey {
  padding: 1em;
  margin: 1em;
  border: thin solid black;
  height: 15em;
  background: #f2f2f2;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  opacity: 1;
  transition: all .2s ease;
}

#surveys:hover .survey:not(:hover) {
  opacity: 0.4;
}

.sticky {
  margin-bottom: 2em;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}